body{
    background-color: rgb(7, 7, 7);
    color: rgb(247, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#banner{
    background-color: dark rgb(8, 8, 8);
    padding-bottom: 5px;;
    text-align: center;
    padding-top: 5px;
}

nav, nav{
    background-color: rgba(255, 254, 253, 0.918);
    color: burlywood;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
nav a, nav a{
    margin-right: 10px;
    color: #030303a6;
    padding: 10px;
    font-size: large;
}
nav a:hover, nav a:hover{
    color:   rgb(243, 247, 248);
    background-color:rgba(116, 87, 15, 0.651);
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: x-large;
    color:rgba(116, 87, 15, 0.651);
    font-family:cursive
}
h2{
    font-size: large;
    color:rgba(116, 87, 15, 0.651);
    text-align: center;
}
h3{
    font-size: large;
    color:rgba(116, 87, 15, 0.651);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#footer{
    background-color: rgba(116, 87, 15, 0.651);
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    min-height: 100px;
}

#main, main{
    width: 80%;
    margin: 0 auto;
    font-size: large;
}
#main img, main img{
    width: 33%;
    height: auto;
    border: silver;
}
.gallery{
    display: flex;
    justify-content: center;
    padding: 15px;
}

    .gallery-item{
        margin:20px;
        padding: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
    }

.gallery img{
    width: 150%;
    height: auto;
    margin: 5px;
}
table{
    border: 1px solid goldenrod;
}
th{
    background-color: rgba(116, 87, 15, 0.651);
    color: rgb(8, 8, 8);
    padding: 10px;
    font-size: large;
}
td{
    background-color: silver;
    color: rgb(8, 8, 8);
    padding: 10px;
    font-size: large;
}
